doctype html
html
  head
    title mugtalk.
    link(rel='stylesheet', href='app.css')

  body.loading
    p mugtalk.

    if !onDevelopment
      script(src='https://cdn.polyfill.io/v1/polyfill.min.js')
    script(src='app.js', async)
