doctype html
html
  head
    title MugTalk.
    link(rel='stylesheet', href='app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  body
    .mugtalk.loading(data-mugtalk)
    if onDevelopment
      script(src='/polyfill.js')
    else
      script(src='https://cdn.polyfill.io/v1/polyfill.min.js?features=fetch')
    script(src='/app.js', async)
