@require 'nib'
@require 'lib/dev-tools'
@require 'lib/mini-reset'
@require 'lib/animations'
@require 'fonts'

beige = #F0EFED
marron = #89766C
marronClaro = lighten(marron, 80%)
negro = #444444
rojo = #C9806F
rojoOscuro = #972D15

::selection
  background: rgba(rojo, .8)

*
  box-sizing: border-box

body
  font-family: Tehuti, serif
  color: negro
  background-color: beige
  // &:before
  //   dev-tools-guide-v()
  //   left 38.19vw

.mugtalk
  @media (min-width: 768px)
    display: flex
    align-items: center
    justify-content: center
    padding-right: 38.19vw

@require 'components/*'
